In [2]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for i in range(10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [6]:
list = [10,20,14,55,43,87,76]
print(list)
print("Number of item in the List2:")
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [8]:
str = "Artificial Intelligence"
print(str)
for letter in str:
    print(letter)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [27]:
values = ['Name','Age','Profession']
for value in values:
    print("-Your",value,"-")

-Your Name -
-Your Age -
-Your Profession -

In [12]:
tupl = (1,'Welcome',2,'Hope')
print(tupl)

(1, 'Welcome', 2, 'Hope')

In [14]:
Tuple1 = (0,1,2,3)
Tuple2 = (Tuple1,('pyhton','HOPE'))
print(Tuple2)

((0, 1, 2, 3), ('pyhton', 'HOPE'))

In [19]:
numbers = [20,10,16,19,25,1,276,188]
print(tuple(numbers))
for num in numbers:
    if num%2 != 0:
        print(num, " is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [24]:
numbers = [20,10,16,19,25,1,276,188]
print(tuple(numbers))
for num in numbers:
    if num%2 == 0:
        print(num, " is even") # in the question PDF is it given as odd instead of even.

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even